#semaforo-agrupado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#trafficTop {
  background-color: black;
  width: 10px;
  height: 70px;  
}

#container {
  background-color: black;
  width: 65px;
  height: 173px;
  padding: 7px;
  border-radius: 10px;
}

.light{
  width: 50px;
  height: 50px;  
  border-radius: 50%;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 5px;
  &.red { background-color: #990000;}
  &.yellow {background-color: #CC6600; }
  &.green { background-color: #009933; }
  &.purple {background-color: purple;}
  &.selected{box-shadow: #f8ffcc 0px 0px 50px 20px;}
}



@media (mind-width: 1400px){
.fixed-xxl-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}};